In [1]:
import pandas as pd

In [2]:
DATA = 'data/G2Net2022Blend.csv'
LEAK = 'data/leak.csv'

In [3]:
df_leak = pd.read_csv(LEAK)
df_sub = pd.read_csv(DATA)
df_leak = pd.merge(df_leak,df_sub,on='id')
df_leak['target_adj'] = df_leak['target']
df_leak.head()

,id,nmax,max_val_H,max_val_L,mask_avr_H,mask_avr_L,max_val_H_multi,max_val_L_multi,f,mH,mL,target,target_adj
0,0177a2d23,1,0.007857,0.007664,-0.002715,-0.002629,NaN,NaN,0.236111,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.709618,0.709618
1,03ac90f05,1,0.009176,0.008919,0.002047,0.001151,NaN,NaN,0.472222,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.549417,0.549417
2,0559d7491,1,0.007088,0.007110,-0.002154,-0.000929,NaN,NaN,0.213889,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.354696,0.354696
3,05fa8cd9d,1,0.007088,0.007110,0.000757,0.000100,NaN,NaN,0.213889,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.206583,0.206583
4,07f958d83,2,0.764832,0.968357,0.029224,0.056727,0.006105,0.006422,1.000000,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.823210,0.823210

In [4]:
# adjust positive-like examples
df_leak.target_adj = df_leak.target + (1 - df_leak.target)*\
    ((0.5*(df_leak.mask_avr_H + df_leak.mask_avr_L) - 0.01)/0.03).clip(0,1)

# adjust negative-like examples
df_leak.target_adj = df_leak.target_adj*(1 - ((df_leak.f - 0.65)/0.45).clip(0,1)*\
                   (((0.01 - 0.5*(df_leak.mask_avr_H + df_leak.mask_avr_L))/0.01).clip(0,1)))

In [5]:
df_sub = df_sub.set_index('id')
df_sub.loc[df_leak.id,'target'] =  df_leak['target_adj'].values
df_sub = df_sub.reset_index()
df_sub.to_csv(DATA.replace('.csv','_adj.csv'),index=False)
df_sub.head()

          id    target
0  00054c878  0.238458
1  0007285a3  0.824953
2  00076c5a6  0.093517
3  001349290  0.758658
4  001a52e92  0.780777

In [6]:
df_leak.loc[df_leak.target != df_leak.target_adj]

,id,nmax,max_val_H,max_val_L,mask_avr_H,mask_avr_L,max_val_H_multi,max_val_L_multi,f,mH,mL,target,target_adj
4,07f958d83,2,0.764832,0.968357,0.029224,0.056727,0.006105,0.006422,1.000000,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.823210,1.000000
6,0ab0bb87c,1,0.838825,0.884982,0.032777,0.043121,NaN,NaN,0.930556,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.420000,0.960345
7,0bf7da48d,1,0.008985,0.008360,0.026335,-0.000109,NaN,NaN,0.613889,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.737818,0.765024
9,0e58736c0,1,0.472945,0.431864,-0.000370,0.005675,NaN,NaN,0.736111,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.471812,0.405475
11,100d44e76,1,0.440255,0.534909,0.016483,0.016887,NaN,NaN,0.983333,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.513843,0.622178
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,eb1fc0362,1,0.902598,1.077642,0.022746,0.046156,NaN,NaN,0.650000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.911022,0.983543
192,eb3b88eee,1,1.502905,1.471529,0.010181,0.017002,NaN,NaN,0.752778,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.921254,0.930682
199,f473e653d,2,0.764832,0.968357,0.011592,0.016947,0.006062,0.005042,0.891667,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.608288,0.664034
203,fc3876482,1,0.677037,0.854636,0.012071,0.011574,NaN,NaN,0.688889,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.546382,0.573938
205,ff771a983,3,1.306772,1.247661,-0.002947,0.003903,0.234196,0.241121,1.000000,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.115574,0.029980